@import '../../styles/settings.scss';

.cards {
  color: $color-dark;
  margin-left: 50%;
  padding: 0;
  width: 500px;
  text-align: center;
  transform: translateX(-50%);
}

.container{ 
  width: 100%;
  text-align: center;  
}
